<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${show}">
<tr th:each="element: ${elements}">
    <td th:text="${element.toString()} "></td>
    <div th:if="${element.response}=='help'"><br>Available commands : "<br>
        - get high/low/open/close yyyy.mm.dd hh:mm<br>
        - get high/low/open/close yyyy.mm.dd hh<br>
        - get high/low/open/close yyyy.mm.dd<br>
        - get yyyy.mm.dd hh:mm<br>
        - get yyyy.mm.dd hh<br>
        - get yyyy.mm.dd<br>
        - volatility yyyy.mm.dd-hh:mm<br>
        - volatility yyyy.mm.dd-hh<br>
        - volatility yyyy.mm.dd<br>
        - most_volatile_day<br>
        - most_volatile_hour<br>
        - average_minutely_volatility<br>
        - average_hourly_volatility<br>
        - average_daily_volatility</div>
    <br>
</tr>
<form th:action="@{add-element}" th:object="${newElement}" method="post">
    <p>request : <input type="text" th:field="*{request}"></p>
    <p><input type="submit" value="submit"></p>
</form>
</div>
</body>
</html>